
#ds-container{
  width: 100%;
  position: fixed;
  border: 2px solid #524C4C;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: #f7f7f7;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.scroller-component {
  display: inline-block;
  position: relative;
  height: 222px;
  overflow: hidden;
}

.scroller {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  perspective: 1000;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin: 0 auto;
  width: 100%;
  z-index: 3;
}

.scroller-item {
  text-align: center;
  font-size: 26px;
  height: 44px;
  line-height: 44px;
  color: #666;
  font: bold 26px/44px Helvetica,sans-serif;
}
/* 
.scroller-item.selected {

}
 */
.current-indicator {
  width: 100%;
  height: 42px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  position: absolute;
  left: 0;
  top: 88px;
  z-index: 3;
  background-color: rgba(0,0,0,0.2);
}

.scroller-component {
  width: 27%;
}

#year-scroller {
  width: 46%;
}

#ds-optionWrapper{
  height: 44px;
  color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background: url(sw-header.png) 0 0 repeat-x;
  margin-bottom: 5px;
  z-index: 999;
}

.ds-btn{
  width: 50px;
  height: 30px;
  border: 1px solid #000;
  background-color: #353535;
  border-radius: 8px;
  text-align: center;
  float: right;
  margin: 7px 5px;
  line-height: 30px;
  font-weight: bold;
}
